@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,600;0,700;1,600;1,700&family=Eczar:wght@400;500;600;700;800&family=Quintessential&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Staatliches&display=swap');


body {
  background:#cfe8dc;
  color:#459971;
  margin:32pt 0 0 18pt;
  font-family: 'Cormorant';
  font-size:14pt;
}
a {
 color:#75BF9C;
 text-decoration:none;
}
#main {
 width:70%;
}
#main div {
 font-weight:bold;
 padding-bottom:21px;
}
#info {
 top:0;
 right:0;
 bottom:0;
 position:absolute;
 opacity: 70%;
 height:55%;
 width:25%;
 color:#333;
 background:#fff;
 margin-left:6px;
 border-left:thick #75BF9C dotted;
 border-bottom:thick #75BF9C dotted;
 padding:9px;
 font-size:80%
}
