@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Amatic+SC:wght@700&family=Cookie&family=Dongle:wght@700&family=Pacifico&family=Patrick+Hand&family=Righteous&display=swap');

body {
  font-family: 'Dongle';
  text-align: center;
  background-color: black;
}

h1 {
  text-align: center;
  font-family: "Pacifico";
  /* color: #D8C692; */
  color: #b4957c;
  text-shadow:3px 3px black;
  font-size: 30px;
  line-height: 10px;
  margin-top: 30px;

}

section {
  margin: 20px auto;
  text-align: center;
}

#fortune {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -35%);
  width: 200px;
  height: 400px;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 20px;
}

#sunlight {
 position: fixed;
 right: 0px; top: 0px;
 width: 40px;
 height:40px;
 background-color: #E3E4E2;
 padding: 5px;
 font-size: 20px;
 cursor: pointer;
}

#read {
  font-family: 'Poppins';
  background-color:
}
