#container {
    border: thick solid blue;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 90vw;;
    height: 85vh;
    background-color: red;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
  }

  #small-container {
      background-color:white;
      border-radius: 10px;
      width: 600px;
      padding: 40px;
      margin: 0 auto;
      margin-top: 50px;
  }