@import url('https://fonts.googleapis.com/css2?family=Belgrano&family=Cormorant:wght@700&family=Playfair+Display:ital,wght@0,600;0,700;0,900;1,600&display=swap');

body {
  font-family: 'Cormorant', serif;
  text-align: center;
  line-height: 25px;
  color: white;
}

h2 {
  font-family: 'Playfair Display', serif;
  text-align: center;
}


button {
  font-family: 'Belgrano', serif;
  margin-top: 10px;
  background-color: #7E3517;
  border: none;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  color: white;

}

.generate {
  margin-top: 100px;
}

section {
  margin: 20px auto;
  text-align: center;
}

main {
  margin-left: 50px;
  margin-right: 50px;
}

li {
list-style: url('https://api.iconify.design/octicon/bookmark-fill-24.svg?color=white');
color: white;
text-align: left;
}

.rectangle {
  height: 100%;
  width: 40%;
  background-color: white;
  border-left: blue;
  position: absolute;
  top: 0;
  left: 30%;
}

.rectangle2 {
  height: 100%;
  width: 95%;
  background-color: #C34A2C;
  position: absolute;
  top: 0;
  left: 2.5%;
}

img {
  width: 300px;
}

#by {
  margin-top: 30px;
  font-size: 18px;
  color: #551606;
  text-decoration: underline;
}

#publications {
  text-align: center;
  position: relative;
}

/* .grayscale {
  filter: grayscale(95%);
} */

.right {
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.left {
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
}

.book5 {
  position: fixed;
  bottom: 30px;
  right: 0;
  animation: bounce 1.3s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
  animation-iteration-count: infinite;
  }

  .book5:hover {
    filter: gray;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    cursor: pointer;
  }

@keyframes bounce {
  from {
    transform: translate3d(0, -30px, 0);
    }
  to {
    transform: translate3d(0, 30px, 0);
    }
  }
