@import url('https://fonts.googleapis.com/css2?family=Belgrano&family=Cormorant:wght@700&family=Playfair+Display:ital,wght@0,600;0,700;0,900;1,600&display=swap');

body {
  font-family: 'Cormorant', serif;
  text-align: center;
  line-height: 25px;
}

h2 {
  font-family: 'Playfair Display', serif;
  text-align: center;
}

button {
  font-family: 'Belgrano', serif;
  margin-top: 10px;
  background-color: #7E3517;
  border: none;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  color: white;

}

.generate {
  margin-top: 100px;
}

section {
  margin: 20px auto;
  text-align: center;
}

main {

}

li {
  list-style: none;
}

.rectangle {
  height: 100%;
  width: 82vh;
  background-color: white;
  border-left: blue;
  position: absolute;
  top: 0;
  left: 30%;
}

.rectangle2 {
  height: 100%;
  width: 78vh;
  background-color: #C34A2C;
  position: absolute;
  top: 0;
  left: 2.5%;
}

img {
  width: 300px;
}

.grayscale {
  filter: grayscale(95%);
}

.right {
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.left {
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
}
