@import url('https://fonts.googleapis.com/css2?family=Belgrano&family=Cormorant:wght@700&family=Playfair+Display:ital,wght@0,600;0,700;0,900;1,600&display=swap');

body {
  font-family: 'Cormorant', serif;
  text-align: center;
  line-height: 25px;
  color: white;
  cursor: url("https://api.iconify.design/octicon/pencil-16.svg?color=white&width=20&height=20"), default;
}

.txtbox {
  height: 100px;
  width: 200px;
  background-color: white;
  top: 50px;
  right: 50px;
  position: fixed;
  border-radius: 11%;
  color: black;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 30px;
  border: red solid;

}

.books {
  width: 150px;
  cursor: url("https://api.iconify.design/octicon/pencil-16.svg?width=20&height=20"), default;
}

.bk1 {
  position: absolute;
}

.bk1:hover {
  transform: scale(0.6);
}

.bk1:active {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  cursor: url("https://api.iconify.design/octicon/pencil-16.svg?width=20&height=20"), default;
}

.bk2 {
  position: relative;
}

.bk2:hover {
  transform: rotate(-45deg) scale(0.6);
}

.bk3 {
  position: relative;
}

.bk3:hover {
  transform: skew(10deg, 10deg)  scale(0.6);
}

.bk4 {
  position: relative;
}

.bk4:hover {
transform: scale(1.6);
}

.chk {
     align-items: center;
     cursor: pointer;
     display: inline-flex;
     user-select: none;
   }
   .chk::before {
     --ico-check: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M14 2.5l-8.5 8.5-3.5-3.5-1.5 1.5 5 5 10-10z" fill="white"></path></svg>');
     background: silver var(--ico-check) center center/70% no-repeat;
     border-radius: 0.25rem;
     display: inline-block;
     content: '';
     height: 1.25rem;
     margin-inline-end: 0.25rem;
     width: 1.25rem;
   }
   .hidden {
     clip: rect(1px 1px 1px 1px);
     clip: rect(1px, 1px, 1px, 1px);
     clip-path: inset(1px);
     display: block;
     height: 1px;
     overflow: hidden;
     position: absolute;
     white-space: nowrap;
     width: 1px;
   }
   .square {
     --bgc: #C34A2C;
     --w: 150px;
     align-items: center;
     background-color: var(--bgc);
     border-radius: 10%;
     display: flex;
     height: var(--w);
     justify-content: center;
     margin-bottom: 1rem;
     width: var(--w);
   }
   .a-pulse {
     --animdur: 1s;
     --animn: pulse;
     will-change: transform;
   }
   .a-slide {
     --animdur: 3s;
     --animn: slide;
   }
   [data-animation] {
     animation: var(--animn, none) var(--animdur, 0s) var(--animtf, linear) var(--animdel, 0s) var(--animic, infinite) var(--animdir, alternate) var(--animfm, none) var(--animps, running);
   }

   /* STATE */
   [data-animation-pause]:checked ~ [data-animation] {
     --animps: paused;
   }

   [data-animation-pause]:checked + label::before {
     background-color: cornflowerblue;
   }

   /* KEYFRAMES */
   @keyframes opacity {
     0% {
       opacity: 1;
     }
     50% {
       opacity: 0.6;
     }
     100% {
       opacity: 1;
     }
   }
   @keyframes pulse {
     0% {
       transform: scale(1);
     }
     25% {
       transform: scale(.9);
     }
     50% {
       transform: scale(1);
     }
     75% {
       transform: scale(1.1);
     }
     100% {
       transform: scale(1);
     }
   }
   @keyframes slide {
     from { margin-left: 0%; }
     to { margin-left: calc(25% - var(--w, 150px)); }
 }

h2 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  background-color: #954535;
  padding: 20px;

}

button {
  font-family: 'Belgrano', serif;
  margin-top: 10px;
  background-color: #7E3517;
  border: none;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  color: white;

}

.generate {
  margin-top: 100px;
}

section {
  margin: 20px auto;
  text-align: center;
}

main {
  margin-left: 50px;
  margin-right: 50px;
}

li {
list-style: url('https://api.iconify.design/octicon/bookmark-fill-24.svg?color=white');
color: white;
text-align: left;
}

.rectangle {
  height: 100%;
  width: 40%;
  background-color: white;
  border-left: blue;
  position: absolute;
  top: 0;
  left: 30%;
}

.rectangle2 {
  height: 100%;
  width: 95%;
  background-color: #C34A2C;
  position: absolute;
  top: 0;
  left: 2.5%;
}

img {
  width: 300px;
}

#by {
  margin-top: 30px;
  font-size: 18px;
  color: #551606;
  text-decoration: underline;
}

#publications {
  text-align: center;
  position: relative;
}

#search {
color: #551606;  
}

/* .grayscale {
  filter: grayscale(95%);
} */

.book5 {
  position: fixed;
  bottom: 30px;
  right: 0;
  animation: bounce 1.3s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
  animation-iteration-count: infinite;
  }

  .book5:hover {
    filter: gray;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    cursor: url("https://api.iconify.design/octicon/pencil-16.svg?width=20&height=20"), default;
  }

@keyframes bounce {
  from {
    transform: translate3d(0, -30px, 0);
    }
  to {
    transform: translate3d(0, 30px, 0);
    }
  }
